.artwork{
  width: 16vw;
  height: 16vw;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 0 5px 3px rgba(100,100,100,0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.artwork_image_container{
  width: 100%;
  height: 40%;
  overflow: hidden;
}

.artwork_image{
  width: 100%;
}

.artwork_details{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.artwork_details p{
  margin: 2px ;
  font-size: 0.8em
}

.artwork_details_title{
  font-weight: 800;
  font-size: 1.3em !important;
}

.artwork_delete{
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
}
