.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 50px;
  padding: 10px;
}
.Manager {
  font-size: 10px;
  flex-direction: column;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
